@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Thread Haven</h1>
    <p>In-Class ASP.NET web app for COMP2084 in fall 2024.</p>
    <p>The current date and time is @ViewData["Timestamp"]</p>
    <p>Royalty-free images from <a href="https://pixabay.com" target="_blank">Pixabay</a>.</p>
    <p>Source Code at <a href="https://github.com/ifotn/threadhaven" target="_blank">GitHub</a>.</p>
</div>
