@{
    ViewData["Title"] = "Shop";
}

<h1>Shop for some Cool Threads</h1>

<ul>
    <li>
        <a asp-action="ByCategory" asp-route-id="1">
            Sweaters
        </a>    
    </li>
    <li>
        <a asp-action="ByCategory" asp-route-id="2">
            Hoodies
        </a>
    </li>
    <li>
        <a asp-action="ByCategory" asp-route-id="3">
            Pants
        </a>
    </li>
    <li>
        <a asp-action="ByCategory" asp-route-id="4">
            T-Shirts
        </a>
    </li>
</ul>
